body {
  font-family: Arial, sans-serif;
  background-color: #000000;
  margin: 0;
  padding: 20px;
}

.container {
  max-width: 500px;
  background: #fff;
  padding: 20px;
  margin: auto;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(207, 14, 14, 0.1);
}

h2 {
  text-align: center;
  background-color: #000000;
  border-radius: 5px;
   color: #fff;
}

h3 {
  margin-top: 20px;
  color: #f50303;
}

label {
  display: block;
  margin-top: 10px;
  font-weight: bold;
  background-attachment: #09bcf3;
}

input, select {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  border: 1px solid #000000;
  border-radius: 5px;
}

input[type="checkbox"] {
  width: auto;
  margin-right: 5px;
}

button {
  width: 100%;
  margin-top: 20px;
  padding: 10px;
  background-color: #007BFF;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}
